<% include('layout') %>
<% block('body', function(){ %>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Anmeldung</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-Mail-Adresse</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Passwort</label>
                        <input type="password" class="form-control" id="password" required>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="remember">
                        <label class="form-check-label" for="remember">Angemeldet bleiben</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Anmelden</button>
                </form>
                <div class="text-center mt-3">
                    <a href="#">Passwort vergessen?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<% }) %>